<section class="features main-bg" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2 class="pt-5">Your Selected art: </h2>
    </div>

    <div class="row">
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">

          <div class="row">

            {{#each bookmark}}

            <div class="card my-4 box-shadow card-show" style="width: 400px">
              <div class="card-img">
                <img class="index-img-card" src="{{art.img}}" alt="{{art.title}}">
              </div>
              <div class="card-body">
                <h5>{{art.title}}</h5>
                <form action="/bookmark/{{_id}}/savenote" method="POST">
                  <label for="comment">Note: </label>
                  <input type="text" id="comment" name="comment">
                  <button type="submit">ADD</button>
                </form>
                <form action="/bookmark/{{_id}}/deletenote" method="POST">
                  <input type="hidden" value="0" name="noteNum">
                  <p>{{comments.[0]}}</p>
                  <button type="submit">DEL</button>
                </form>
              </div>
              <div class="show-btn">
                <a href="/bookmark/{{_id}}" class="btn btn-bg index-btn"><i>View</i></a>
                <a href="/bookmark/{{_id}}/delete" class="btn btn-bg index-btn"><i>Remove</i></a>
              </div>
            </div>

            {{/each}}


          </div>
        </div>
      </div>
    </div>
  </div>
</section>