<section class="features main-bg" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2 class="pt-5 mt-5">{{subtitle}}</h2>

    </div>

    <div class="row">
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">

          <div class="row">

            {{#each bookmarks}}

            <div class="card box-shadow card-show mb-5" style="width: 400px">
              <div class="card-img">
                <img class="index-img-card" src="{{art.img}}" alt="{{art.title}}">
              </div>
              <div class="card-body">
                <h3 class="card-title"><i>{{art.title}}</i></h3>
                <h5 class="card-title"><span class="pretty">Artist:</span> {{art.artist}}</h5>
                <p class="card-text"><span class="pretty">Description:</span> {{art.description}}</p>
              </div>
              <div class="show-btn">
                <a href="/bookmark/{{_id}}" class="btn btn-bg index-btn"><i>View</i></a>
                <form action="/bookmark/{{_id}}/deleteBookMark" method="POST">
                  <button type="submit" class="btn btn-bg index-btn"><i>Remove</i></button>
                </form>
              </div>
            </div>

            {{/each}}


          </div>
        </div>
      </div>
    </div>
  </div>
</section>